.device-contents
  .device-form
    %h2 新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :ユーザーネーム
        %br/
        = f.text_field :name, autofocus: true
      .field
        = f.label :メールアドレス
        %br/
        = f.email_field :email
      .field
        = f.label :パスワード
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .actions
        = f.submit "登録する", class:"form-submit"
