.article-new-form
  .new-content
    = form_for @article do |form|
      .form-field
        .text-field
          .title
            = form.text_field :title, placeholder:'タイトルを入力してください'
          .country
            = form.text_area :country_id
          .content
            = form.text_area :text, placeholder:'本文を入力してください'

        .image-field
          = form.label :画像は3枚まで投稿できます。
          .image-select
            = form.fields_for :article do |image|
              %input{name: "current_user_name", type: "hidden", value: @article.images, class: 'current_user_name' }/
              .image1
                = image.file_field :image, name: 'images[image][]', id: :user_img1, type: :file
                %img#img1{style: "width:200px; height:200px;"}
                %button#btn1{style: "display:block;"} 画像を削除する
              .image2
                = image.file_field :image, name: 'images[image][]', id: :user_img2, type: :file
                %img#img2{style: "width:200px; height:200px;"}
                %button#btn2{style: "display:block;"} 画像を削除する
              .image3
                = image.file_field :image, name: 'images[image][]', id: :user_img3, type: :file
                %img#img3{style: "width:200px; height:200px;"}
                %button#btn3{style: "display:block;"} 画像を削除する
      .submit-action
        = form.submit '投稿する', class: 'form-submit'