.show
  - @articles.each do |article|
    .show-title
      TITLE：
      = article.title
    .show-content
      CONTENT：
      = article.text
    .show-image
      PHOTO：
      - if article.images.present?
        .article_image
          = article.images.each do |image|
            = image_tag image.image

        -# %td= link_to 'Show', articles_path
        -# %td= link_to 'Edit', edit_article_path(article)
        -# %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Article', new_article_path
