!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TripApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .welcome
        = link_to 'Welcome!!', root_path, class: "welcome-path"
      - if user_signed_in?
        %h1.user-name
          = current_user.name
          さん
        .right-block
          .new-link
            = link_to 'New', new_article_path, class: "new-article-path"
          .user-logout-link
            = link_to "Log out", destroy_user_session_path, method: :delete, class: "logout-path"
      - else
        .right-block
          .user-login-link
            = link_to "Log in", new_user_session_path, class: 'login-path'
          .user-dignup-link
            = link_to "Sign up", new_user_registration_path, class: 'signup-path'

    = yield
